spring.application.name=codecasesite

server.port=9001

# niveau de level logging
logging.level.root=error
# pour mon package
logging.level.fr.afpa.pompey.cda=info
# pour la BDD
logging.level.org.springframework.data=INFO
logging.level.org.springframework.jdbc.core.JdbcTemplate=DEBUG
# niveau de level logging pour TOMCAT
logging.level.org.springframework.boot.web.embedded.tomcat=INFO