<article>
    <div id ="article-header">
        <div id="info-container">
            <div id ="avatar-container">
                <div id="avatar">
                    <img src="" alt="avatar">
                </div>
                <div id ="pseudo">
                    <span>pseudo</span>
                </div>
                <div id ="datePostCase">
                    <span>il y a 35 min</span>
                </div>
            </div>
        </div>
        <div id ="tag-container">
            <span class ="tag">JAVA</span>
        </div>
    </div>
    <div id="article-container">
        test
    </div>
    <div id="article-footer">
        <span><a id="bt-like" data-action ="like" href=""></a></span>
        <span><a id="bt-flag" data-action ="flag" href=""></a></span>
    </div>
</article>