<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="htmlHead">
  <meta charset="UTF-8">
  <title>Code CASE</title>
  <link rel ="stylesheet" href="../static/css/style.css" data-th-href="@{/css/style.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<div th:fragment="creation-post">
  <div id="main-container">
    <article>
      <div id="article-header">
        <h1>Créer un post</h1>
        <div id="form"></div>
      </div>
    </article>
  </div>
</div>

