<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="htmlHead">
    <meta charset="UTF-8">
    <title>Code CASE</title>
    <link rel ="stylesheet" href="../static/css/style.css" data-th-href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>


<div th:fragment="headerContent">
    <header>
        <div id="header-container">
            <div id="logo-container">
                <img src="/images/logo-font-white.png" alt="logo Code CASE" class="logo">
            </div>
            <div id="signin-container">
                <span><a id="minbt-signin" data-action ="S'inscrire" href=""></a></span>
                <span><a id="bt-connexion" data-action="Connexion" href="#"></a></span>
            </div>
        </div>
    </header>
</div>

<div th:fragment="article">
    <article>
        <div id ="article-header">
            <div id="info-container">
                <div id ="avatar-container">
                    <div id="avatar">
                        <img src="" alt="avatar">
                    </div>
                    <div id ="pseudo">
                        <span>pseudo</span>
                    </div>
                    <div id ="datePostCase">
                        <span>il y a 35 min</span>
                    </div>
                </div>
            </div>
            <div id ="tag-container">
                <span class ="tag">JAVA</span>
            </div>
        </div>
        <div id="article-container">
            test
        </div>
        <div id="article-footer">
            <span><a id="bt-like" data-action ="like" href=""></a></span>
            <span><a id="bt-flag" data-action ="flag" href=""></a></span>
        </div>
    </article>
</div>

<div th:fragment="footer">
    <footer>
        <script src="../static/js/randompp.js"></script>
    </footer>
</div>

</body>
</html>