<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="htmlHead">
  <meta charset="UTF-8">
  <title>Code CASE</title>
  <link rel ="stylesheet" href="../static/css/style.css" data-th-href="@{/css/style.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<div th:fragment="creation-post">
  <div id="main-container">
    <article>
      <h1>Créer un post</h1>
      <div class="article-container">
        <form th:action="@{/post/create}" method="post">

          <label for="titre">Titre</label>
          <input type="text" id="titre" name="titre" placeholder="Titre du post"/>

          <label for="description">Description</label>
          <input type="text" id="description" name="contenu" placeholder="Description"/>

          <label for="tag">Tag</label>
          <input type="text" id="tag" name="tag" placeholder="ex : JAVA"/>

          <label for="contenu">Contenu</label>
          <input type="text" id="contenu" name="contenu" placeholder="Code"/>

          <input type="submit" value="Valider"/>
        </form>
      </div>
    </article>
  </div>
</div>

