<!DOCTYPE html>
<html lang="fr">
<link rel ="stylesheet" href="../static/css/style.css" data-th-href="@{/css/style.css}">
<head>
    <meta charset="UTF-8">
    <title>Code CASE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"></head>
<body>
<header>
    <div id="header-container">
        <div id="logo-container">
            <img src="../static/images/logo-font-white.png" alt="logo Code CASE" class="logo">
        </div>
        <div id="signin-container">
            <span><a data-action ="signin" id="minbt-signin" href=""><i class="fa-solid fa-user-plus"></i></a></span>
            <span><a id="bt-connexion" data-action="connexion" href="#"></a></span>
        </div>
    </div>
</header>


</body>
<footer>
</footer>
</html>